.section{
  font-family: monospace;
  font-size: 20px;
  padding: 30px 30px;



}

.container{
  background-color: yellow;
  height: 50px;
  width:250px;
  padding: 10px 10px;
  margin: 20px;
  display: inline;



}

#rojo{
  background-color: red;

}
