.section{
  font-family: monospace;
  font-size: 30px;
  padding: 10px 10px;

}

.container{
  background-color: yellow;
  height: 100px;
  padding: 10px 10px;


}

#rojo{
  background-color: red;
  border: 2px solid black;

}
